:root {
  --color-accent: #2196F3;
  --header-color: #212121;
  --second-logo-color: #FFFFFF;
  --first-tittle-color: #FFFFFF;
  --second-tittle-color: #212121;
  --first-btn-color: #FFFFFF;
  --second-btn-color: #212121;
  --first-text-color: #757575;
  --second-text-color: #FFFFFF;
  --footer-background-color: #2F303A;
  --team-background-color: #F5F4FA;
  --hero-background-color: #2F303A;
  --background-color: #FFFFFF;
  --typical-gap: 30px;
  --hover-focus-duration: 250ms;
}

* {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.ul {
  list-style: none;
}

a {
  font-style: normal;
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1), visibility var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 95vw;
  min-height: 581px;
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal-window {
    width: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-window {
    width: 500px;
  }
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(5);
}

.modal-form {
  padding: 40px;
}

.modal-form__tittle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form__wrap {
  position: relative;
}

.modal-form__input {
  height: 40px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 30px;
  transition: border-color var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1), fill var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  border-color: var(--color-accent);
}
.modal-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input:focus + .modal-form__field-icon {
  fill: var(--color-accent);
}

.modal-form__field-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-form__text {
  height: 120px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 1.12;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__text:focus {
  border-color: var(--color-accent);
  outline: none;
}

.modal-form__check-text {
  font-size: 14px;
  color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  transition: var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.modal-form__check:checked + .modal-form__check-text::before {
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #2196F3;
  border: transparent;
}

.treaty {
  color: var(--color-accent);
  text-decoration: underline;
  margin-left: 5px;
}

/*.modal-input:valid{
  border-color: #2F303A;
}
.modal-input:invalid{
  background-color: #2196F3;
}*/
.modal-form__btn {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  border: #2196F3;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  transition: background-color var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: #188ce8;
}

.modal-form__icon-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: transparent;
  fill: #212121;
  transition: fill var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__icon-close:hover, .modal-form__icon-close:focus {
  fill: var(--color-accent);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo__part {
  color: var(--color-accent);
}

@media screen and (min-width: 768px) {
  .header-content {
    display: flex;
    align-items: center;
  }
}

.header {
  background-color: var(--background-color);
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.header__logo {
  margin-right: 93px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 480px) {
  .header__nav-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__nav-list {
    display: flex;
  }
  .header__nav-list > :not(:last-child) {
    margin-right: 50px;
  }
}

.header__nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link:hover, .header__nav-link:focus {
  color: var(--color-accent);
}

.header__nav-link--current {
  position: relative;
  color: var(--accent-color);
}
.header__nav-link--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  display: block;
  background: var(--color-accent);
  border-radius: 2px;
}

.contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
@media screen and (min-width: 480px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-direction: row-reverse;
  }
}

.contacts__item:not(:last-child) {
  margin: right 10px;
}

.contacts__icon {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  transition: color var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--color-accent);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_m.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_m2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_t.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_t2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_d.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_d2x.jpg);
  }
}

.hero__container {
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__tittle {
  font-weight: 900;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-tittle-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__tittle {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--first-btn-color);
  display: inline-block;
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  cursor: pointer;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: darkblue;
}

.advantages-list {
  /*display: flex;
  justify-content: center;*/
}
@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 60px;
    margin-left: -30px;
  }
}

.advantages-list__item {
  /*min-width: 270px;*/
  margin-bottom: var(--typical-gap);
}
@media screen and (min-width: 768px) {
  .advantages-list__item {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__item {
    flex-basis: calc(25% - 30px);
  }
}

.advantages-list__cont {
  height: 120px;
  margin-bottom: var(--typical-gap);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--team-background-color);
  border-radius: 4px;
}

.advantages-list__tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-tittle-color);
  margin-bottom: 10px;
}

.advantages-list__text {
  font-weight: 400;
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.job {
  padding-top: 0px;
}
@media screen and (max-width: 1200px) {
  .job {
    display: none;
  }
}

.job__tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-tittle-color);
  margin-bottom: 50px;
}

.job__list {
  display: flex;
  justify-content: center;
}

.job__item + .job__item {
  margin-left: var(--typical-gap);
}

.job__label {
  position: relative;
}

.job__text {
  position: absolute;
  margin: 0;
  width: 100%;
  bottom: 0;
  font-weight: 700;
  padding: 27px 82px;
  color: var(--second-text-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--team-background-color);
}

.team__tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-tittle-color);
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    justify-content: center;
    margin-left: -30px;
    flex-wrap: wrap;
  }
}

/*.team-item + .team-item{
    margin-left: var(--typical-gap);
}*/
.team__item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
  margin-left: 30px;
}
@media screen and (min-width: 480px) {
  .team__item {
    margin-bottom: 30px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(25% - 30px);
  }
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-tittle-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__post {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .social-list {
    margin-bottom: 24px;
  }
}

.social-list__item {
  margin-left: 10px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  transition: color var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1), background-color var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.social-list__icon {
  fill: currentColor;
}

.clients__tittle {
  margin-bottom: 50px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-tittle-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
}

.clients__item {
  width: 170px;
  height: 92px;
  margin-bottom: var(--typical-gap);
}
.clients__item + .clients__item {
  margin-left: var(--typical-gap);
}
@media screen and (max-width: 479px) {
  .clients__item {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 480px) {
  .clients__item {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc(16.6666666667% - 30px);
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  transition: fill var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1), border var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.examples__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .examples__list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .examples__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.examples__item:not(:last-child) {
  margin-right: 8px;
}

.examples__btn {
  display: inline-block;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background: #f5f4fa;
  cursor: pointer;
  transition: background-color var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1), color var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1), box-shadow var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__btn--act, .examples__btn:hover, .examples__btn:focus {
  background-color: var(--color-accent);
  color: var(--first-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 480px) {
  .examples__btn {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .examples__btn {
    margin-bottom: 30px;
  }
}

.projects__list {
  margin: -15px;
}
@media screen and (min-width: 768px) {
  .projects__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.projects__item {
  margin-top: var(--typical-gap);
  transition: background-color var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1), box-shadow var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__item:hover, .projects__item:focus {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .projects__item {
    margin: 15px;
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}

.projects__link {
  display: block;
}

.projects__card {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.projects__cont {
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--second-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:hover .projects__cont,
.projects__item:focus .projects__cont {
  transform: translateY(-100%);
}

.projects__name {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.projects__tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-tittle-color);
  margin-bottom: 4px;
}

.projects__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.footer__addres-container {
  margin-bottom: 60px;
}

.footer__logo {
  display: block;
  color: var(--second-logo-color);
  margin-bottom: 20px;
}

.adress__item {
  margin-bottom: 9px;
}

.adress__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  transition: color var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__link--maps {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  transition: color var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__link:hover, .adress__link:focus, .adress__link--maps:hover, .adress__link--maps:focus {
  color: var(--color-accent);
}

.footer-soc__tittle {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 20px;
}

.footer-soc__list {
  display: flex;
  align-items: baseline;
}

.footer-soc__item + .footer-soc__item {
  margin-left: 10px;
}

.footer-soc__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
  transition: background-color var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1), fill var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.subscribe {
  margin-bottom: 60px;
}
.subscibe__tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin: 0;
  margin-bottom: 20px;
}

.subscibe__email-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: #FFFFFF;
}

.subscibe__btn {
  display: inline-block;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 0;
  transition: background-color var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.subscibe__btn:hover, .subscibe__btn:focus {
  background-color: #212121;
}

.subscibe__icon {
  vertical-align: middle;
  margin-left: 10px;
  fill: currentColor;
}

@media screen and (min-width: 480px) {
  .menu-btn-open, .menu-btn-close {
    display: block;
    border: none;
    background-color: transparent;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .menu-btn-open, .menu-btn-close {
    display: none;
  }
}

.menu-btn-close {
  margin-bottom: 15px;
}

.icon-menu {
  fill: #212121;
}

.menu-container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .menu-mob {
    position: fixed;
    top: 0;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .menu-mob .menu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: auto;
  }
}
@media screen and (min-width: 768px) {
  .menu-mob {
    display: none;
  }
}

.menu-mob__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: auto;
  color: #212121;
}

.menu-mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts__list {
  margin-bottom: 64px;
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts-mail__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-contacts__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.menu-soc__list {
  display: flex;
}

.menu-soc__item {
  position: relative;
}
.menu-soc__item::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 0px;
  bottom: 10px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.menu-soc__item:not(:last-child) {
  margin-right: 20px;
}

.menu-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}/*# sourceMappingURL=main.css.map */