:root{
    --color-accent: #2196F3;
    --header-color: #212121;
    --second-logo-color: #FFFFFF;
    --first-tittle-color: #FFFFFF;
    --second-tittle-color: #212121;;
    --first-btn-color: #FFFFFF;
    --second-btn-color: #212121;
    --first-text-color: #757575;
    --second-text-color: #FFFFFF;
    --footer-background-color: #2F303A;
    --team-background-color: #F5F4FA;
    --hero-background-color : #2F303A;
    --background-color: #FFFFFF;
    --typical-gap: 30px;
    --hover-focus-duration: 250ms;
    }