.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1),
      visibility var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
    }

.is-hidden{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
}    

.modal-window {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 95vw;
    min-height: 581px;
  
    background: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 480px){
        width: 400px;
    }
    @media screen and (min-width: 1200px){
        width: 500px;
    }
}

.backdrop.is-hidden .modal-window {
    transform: translate(-50%, -50%) scale(5);
}

.modal-form{
    padding: 40px;
}

.modal-form__tittle{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.modal-form__field{
    margin-bottom: 10px;
}

.modal-form__label{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
    
}

.modal-form__wrap{
    position: relative;
}

.modal-form__input{
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding-left: 30px;

    transition: border-color var(--hover-focus-duration)
    cubic-bezier(0.4, 0, 0.2, 1),
    fill var(--hover-focus-duration)   cubic-bezier(0.4, 0, 0.2, 1);
            &:focus{
                border-color: var(--color-accent);
            }
            &::placeholder{
                font-weight: 400;
                font-size: 12px;
                line-height: 1.16;
                letter-spacing: 0.01em;
            
                color: rgba(117, 117, 117, 0.5);
            } 
            &:focus + .modal-form__field-icon{
                fill: var(--color-accent);
             }
}

.modal-form__field-icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.modal-form__text{
    height: 120px;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;

    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.01em;
    line-height:1.12;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
               &:focus{
                    border-color: var(--color-accent);
                    outline: none;
                }

  }
  

.modal-form__check-text{
    font-size: 14px;
    color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    transition: var(--hover-focus-duration)
    cubic-bezier(0.4, 0, 0.2, 1);
            &::before{
                content: '';
                width: 16px;
                height: 15px;
                border: 2px solid #212121;
                border-radius: 2px;
                
                margin-right: 8px;
            }
}



.modal-form__check:checked + .modal-form__check-text::before{
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #2196F3;
    border: transparent;
}

.treaty{
    color: var(--color-accent);
    text-decoration: underline;
    margin-left: 5px;
    }

  /*.modal-input:valid{
    border-color: #2F303A;
  }
  .modal-input:invalid{
    background-color: #2196F3;
  }*/
  .modal-form__btn{
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    border: #2196F3;
    display: block;
    margin: 0 auto;

    margin-top: 30px;
    transition: background-color var(--hover-focus-duration)
    cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus{
            background-color:#188ce8;
        }
}

.modal-form__icon-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  
    background-color: transparent;
    fill: #212121;
    transition: fill var(--hover-focus-duration) cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus {
            fill: var(--color-accent);
        }   
  }
  